.task-listing-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.single-task-card-section {
    background-color: #b4b4b4;
    max-width: 500px;

    padding: 10px;
    border-radius: 5%;
}

.single-task-card-section label,
input {
    display: block;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-self: flex-start;
    /* stop stretching to full width */
    flex-shrink: 0;
    background: #fff;
    cursor: pointer;
}

.selected {
    background-color: #ffffff;
    padding: 2px;
}